.container {
    width: 80%;
    margin: auto;
    text-align: center;
}
.dice {
    text-align: center;
    display: inline-block;
}
body {
    background-color: #393E46;
}
h1 {
    margin: 10px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: #4ECCA3;
}
p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}
img {
    width: 80%;
}
footer {
    margin-top: 10%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 360px) {
    h1 {
        margin: 5px;
        font-family: 'Lobster', cursive;
        text-shadow: 5px 0 #232931;
        font-size: 2rem;
        color: #4ECCA3;
    }
    p {
        font-size: 1.5rem;
        color: #4ECCA3;
        font-family: 'Indie Flower', cursive;
    }
}
